[run]
branch = True

[report]
show_missing = True
exclude_lines =
    pragma: no cover
    raise UnsupportedOperation
    raise ObjectUnsupportedOperation
    raise _ObjectUnsupportedOperation
    raise NotImplementedError
    raise ObjectNotImplementedError
    raise _ObjectNotImplementedError
